<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Nothing here</p>
        </LayoutView>
    </NotFound>

</Router>

@code{

        public MenuItem[] MenuItems { get; set; }
        protected override void OnInitialized()
        {
            this.loadMenuItems();
        }

     

        private void loadMenuItems()
        {
            this.MenuItems = new MenuItem[]
            {
            new MenuItem()
            {
                Caption = "Article Categories", Href = "articlecategories"
              },

            new MenuItem()
              {
            Caption = "Articles", Href = "articles"
            }

          };

        }
}

 
