@namespace Shared

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="/">Article Manager</a>
    <ul class="navbar-nav">
        @foreach (var item in MenuItems)
        {
           @item.Caption
        }
    </ul>
</nav>

@code {

    [Parameter]
    public EventCallback<MenuItem> OnMenuItemClick { get; set; }

    [Parameter]
    public MenuItem[] MenuItems { get; set; }

   
}



